{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Actions{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <header>
        <div>
            <h1>Select you Swarm</h1>
            <label for="groups_dropdown"></label>
            <select name="groups_dropdown" id="groups_dropdown">
                {% for swarm in swarms %}
                    <option value="{{ swarm['group_name'] }}" name="selected_item">{{ swarm['group_name'] }}</option>
                {% endfor %}
            </select>
        </div>
    </header>
    <header>
        <div>
            <h1>Connect to Drones</h1>
            <input type="submit" value="Do Action">
        </div>
    </header>
</form>
{% endblock %}
